/* Style du tableau */
table {
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Style de l'en-tête */
  thead {
    background-color: #f2f2f2;
  }
  
  /* Style des cellules de l'en-tête */
  th {
    padding: 8px;
    text-align: left;
  }
  
  /* Style des lignes de données */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Style des liens dans le tableau */
  a {
    color: blue;
    text-decoration: underline;
  }
  
  .table-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }